main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.pop_down {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.25s ease-in-out;
}

.pop_up {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
}